/ Link to the "Next" slice
  - available local variables
    url           : url to the next slice
    current_slice : a slice object for the currently displayed slice
    slice_number  : total number of slices
    remote        : data-remote
span.next
  == link_to_unless current_slice.last?, raw(t 'views.html_slicer.next'), url, :rel => 'next', :remote => remote
'