/ Link showing slice number
  - available local variables
    slice         : a slice object for "this" slice
    url           : url to this slice
    current_slice : a slice object for the currently displayed slice
    slice_number  : total number of slices
    remote        : data-remote
span class="slice#{' current' if slice.current?}"
  == link_to_unless slice.current?, slice, url, {:remote => remote, :rel => slice.next? ? 'next' : slice.prev? ? 'prev' : nil}
'